:root {
        --color-primary: #FF9300;
    /*================== Green Theme ===========================*/
        --color-primary: #FF9300;
        --color-primary-variant: #403F3E;
        --color-bg-1: #00ff00;
        --color-bg-2: #FFFFFF; 
        --color-bg-3: #000000;
        --color-bg-4: #325762;
        --color-bg-5:  #FF24FF;
        --color-white: hsl(0, 0%, 90%);
}

body { 
    margin: 0;
    background-color: var(--color-bg-3);
    color: var(--color-bg-5);
}
h1 {
    margin: 0;
    background-color: var(--color-primary-variant);
    border-bottom: 2px solid var(--color-bg-1);
}

* {
    margin: 0;
    padding: 5rem;
    border: 1rem;
    outline:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#left_container {
    height: 90%;
    width: 55%;
  }

  #right_container {
    max-width: 500px;
    min-width: 300px;
    position:absolute;
    right: 3rem;
    top: 8rem;
    display: grid;
    border: 2px solid var(--color-bg-1);
    height: 90%;
    width: 45%;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}


#bottom_left {
    border: 2px solid var(--color-bg-1);
}

#HideButton {
    display: grid;
    position: left;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
  
  .form-label {
    display: none;
  }
  
  .form-control {
    font-size: 14px;
    height: 30px;
    padding: 5px 10px;
  }
  
  
.dropdown {
    width: 100%;
}

#speech_button_container {
    display: flex;
    justify-content: space-evenly;
}

#step_synth_container {
    margin-left: -1.5rem;
    margin-top: -1rem;
}

#synth_container {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg-3) url('');
    color: var(--color-bg-5);
    line-height:  1.7;
}

h3 {
    font-size: larger;
}

#right_container {
    display: initial;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 5px; 
    background-color: black;
    padding: 3px;
    
    
  }

  .grid-container > div {
    background-color: rgb(255, 0, 234);
    text-align: center;
    padding: 10px;
    
  }

  /* @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
} 

.SOUNDSDIV{
    top: 100PX;
    position: absolute;
    width: max-content;
}

input:checked:before {
    filter: blur(10px);
    opacity: 1;
    animation: animate 12s linear infinite;
  }

  input:before {
    content: "";
    position: absolute;   
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    transition: 0.5s;

  }

  input {
    height: 10px;
    width: 10px;
    transform: translate(0%, 0%);
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    cursor: pointer;
    margin-right: 5px;
  }

 input[type="checkbox"] {
    margin-bottom: 10px;
    border-radius: 1rem;
} */

#play_along_container {
    display: flex;
    justify-content: center;
    height: 15%;
    margin-left: -1.5rem;
    margin-top: -1rem;
}

#field {
    width: 30%;
    height: 100%;
    background-color: gray;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    width: 8%;
    height: 8%;
    background-color: var(--color-bg-1);
    border-radius: 50%;
}

#circle:active {
    border: 2px solid var(--color-bg-5);
}

#inst1Seq {
    padding: 1px;
}

#inst2Seq {
    padding: 1px;
}

#inst3Seq {
    padding: 1px;
}

#inst4Seq {
    padding: 1px;
}