:root {
    --color-primary: #FF9300;
  /*================== Green Theme ===========================*/
    --color-primary: #03a9f4;
    --color-primary-variant: #403F3E;
    --color-bg-1: #00ff00;
    --color-bg-2: #FFFFFF; 
    --color-bg-3: #000000;
    --color-bg-4: #325762;
    --color-bg-5:  #FF24FF;
    --color-white: hsl(0, 0%, 90%);
  }
  
  header {
  width: 100vw;
  height: 10vh;
  position: relative;
  top: 0;
  overflow: hidden;
  }
  
  body { 
  margin: 0;
  background-color: var(--color-bg-3);
  color: var(--color-bg-1);
  }
  
  h1 {
  margin: 0;
  width: 100vw;
  height: 9vh;
  position: relative;
  top: 0;
  background: linear-gradient(var(--color-bg-5),var(--color-primary));
  overflow: hidden;
 
}

  
  * {
  margin: 0;
  padding: 5rem;
  border: 1rem;
  outline:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  }
  
  html {
  scroll-behavior: smooth;
  }
  
  .title {
text-align: center;
font-family: 'Press Start 2P', cursive;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  }
  
  .mb-3 {
  margin-top: 17px;
  z-index: 1;
  }
  
  .form-label{
  color: white;
  padding-top: .5rem;
  margin-bottom: -1.5rem;
  }
  
  #left_container {
  max-width: 500px;
  min-width: 300px;
  display:grid ;
  justify-content: left;
  height: 30%;
  width: 45%;
  display: relative;
  justify-content: left;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  z-index: 2;
  }
  
  #right_container {
  max-width: 500px;
  min-width: 300px;
  position:absolute;
  right: 3rem;
  top: 8rem;
  display: grid;
  height: 100%;
  width: 45%;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  z-index: 2;
  }
  
  button.btn-success {
  background-color: var(--color-primary);
  margin-top: -7rem;
  }
  
  #speech_button_container {
  margin-bottom: 0;
  }

  #speech_synth_container {
    height: 322px;
  }
  
  
  #speak {
  margin-top:1rem;
  color: #03a9f4;
  }
  
  #bottom_left {
  z-index: 1;
  }
  
  #HideButton {
  display: flex;
  position: right;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--color-bg-5);
  color: white;
  border: none;
  border-radius: 5px; 
  height: 1rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: 20px;
  }
  
  #HideButton :hover{
  color: var(--color-bg-1);
  position: center;
  display:inline
  }
  
  .col-auto{
  z-index: 2;
  }
  
  #loop_box {
  margin-bottom: 10px;
  width: 30rem
  }
  
  #background_video {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  position: center;
  right: 0px;
  color: white;
  position: absolute;
  left: 0px;
  top: 10%;
  z-index: 2;
  }
  
  #background_video :hover{
  color: #f441a5;
  position: center;
  display:inline
  }
  
  #visualizer1,
  #visualizer2,
  #visualizer3,
  #visualizer4,
  #visualizer5,
  #visualizer6,
  #visualizer7,
  #visualizer8,
  #visualizer9 {
  display: flex;
  position: center;
  padding: 5px 8px;
  background-color: var(--color-primary);
  color: var(--color-bg-3);
  border: none;
  border-radius: 5px; 
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 2rem;
  }
  
  #stepControls {
  color:white;
  margin-top: -2rem;
  }   
  
 
  
    
  .form-control {
  font-size: 14px;
  height: 30px;
  padding: 5px 10px;
  }


  .dropdown {
  width: 100%;
  }
  
  
  #speech_button_container {
  display: flex;
  justify-content: space-evenly;
  }
  
  #step_synth_container {
  margin-left: -1.5rem;
  margin-top: -1rem;
  }
  
  #synth_container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: var(--color-bg-3) url('');
  color: var(--color-bg-2);
  line-height:  1.7;
  }
  
  h3 {
  font-size: larger;
  }
  
  #right_container {
  display: initial;
  }
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 5px; 
  background-color: black;
  padding: 3px;
  
  }
  
  .grid-container > div {
  background-color: rgb(255, 0, 234);
  text-align: center;
  padding: 10px;
  
  }
  
  #play_along_container {
  display: flex;
  justify-content: center;
  height: 18%;
  margin-left: -1.5rem;
  margin-top: -1rem;
  }

  #content {
    height: 142px;
  }
  
  #field {
  width: 33%;
  height: 100%;
  background-image: url(../images/placeholder_moon.png);
  background-repeat: no-repeat;
  background-size: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  }
  
  #circle {
  width: 30%;
  height: 40%; 
  background-image: url(../images/SpaceRangerDance.png);
  background-repeat: no-repeat;
  background-size: 50px;
  border-radius: 20%;
  }
  
  #circle:active {
  border: 2px solid var(--color-bg-5);
  }
  
  .video {
  background-image: url('./Images/Dock.jpeg');
  background-position: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding-top: 3rem;
  padding-left: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  left: 5%;
  }
  
  video {
  position: absolute;
  top: 4rem;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 50%;
  }
  
  
  .col-auto {
  position: relative;
  margin-top: 5rem;
  }
  
  
  #inst1Seq {
  padding: 1px;
  margin-top:-3px;
  margin-bottom: -41px;
  }

  #inst2Seq {
    padding: 1px;
}

#inst3Seq {
    padding: 1px;
    margin-top: -41px;
}

#inst4Seq {
    padding: 1px;
    margin-top: -41px;
}
  
  #inst1Seq::part(cell) , #inst2Seq::part(cell), #inst3Seq::part(cell), #inst4Seq::part(cell) { 
  background: radial-gradient(circle, rgba(230,230,230,1) 0%, rgba(126,70,252,1) 100%);
  outline: white solid 0px;
  }
  
  #inst1Seq::part(cell):hover, #inst2Seq::part(cell):hover, #inst3Seq::part(cell):hover, #inst4Seq::part(cell):hover{
  transform: scale(1.6, 1.6);
  }
  
  #astronautHeader {
    position: absolute;
    z-index: 5;
    height: 75px;
    width: 75px;
    left: 1560px;
  }

  .iframe-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
  }
   
  .iframe-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  